<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>


	
	<!-- **주의 : 미리 등록을 해두려면 해당 클래스가 진짜 존재하고 있는 상태여야함 -->
	<typeAliases>
		<typeAlias type="com.ring.webSocket.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.ring.webSocket.board.model.vo.Board" alias="board"/>
	</typeAliases>
	
	<!-- 
		environments, dataSource에 기술했던 DB연결정보
		=> DB등록정보는 서버연동과 동시에 이루어져야 하기 때문에
		서버 켜짐과 동시에 바로 읽혀지는 파일인 root-context.xml에 기술할 예정
	 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
	</mappers>
	<!-- ***주의 : 미리 등록을 해두려면 해당 mapper파일이 진짜 존재하고 있는 상태여야함 + namespace속성까지 작성 되있어야함 -->
    
	
</configuration>